.calculator-container {
  margin-top: 50px !important;
  background-color: black;
  border-radius: 10px;
  flex-direction: column !important;
  justify-content: center;
  padding: 10px 15px 20px 15px;
  gap: 2rem;
  width: 40% !important;
  min-width: fit-content;
  margin: auto;
  position: relative;
}

.calculator-text-item {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.calculator-text-container {
  background-color: white;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
}

.calculator-text {
  padding: 0px 10px 0px 0px;
  text-align: end;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white;
  min-height: 80px;
}

.calculator-text-area {
  width: 99% !important;
  text-align: right;
  resize: none;
  border: none;
  outline: none;
}

.grid-btn-container {
  display: flex;
  gap: 1rem;
  flex-direction: column !important;
}

.calculator-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.calculator-btn {
  background-color: orange !important;
  color: black !important;
}
