.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  gap: 50px;
  height: 100%;
  min-height: 92vh;
  max-height: 90vh;
  height: 100%;
  width: 100%;
}

.grid-item-list {
  border-right: 1px solid black;
  background-color: #282c34;
  min-width: 207px;
  overflow: hidden;
  border-radius: 0px 5px 5px 0px;
  /* max-height: 9vh; */
}

.list-container {
  /* overflow: hidden; */
  /* border-right: 1px solid #888; */
  background-color: #282c34;
}

.list-item-menu {
  height: 55px;
  background-color: #04426a;
  border-bottom: 1px solid black;
  color: rgb(33, 29, 29);
  font-weight: 700;
  border-top: 1px solid black;
  justify-content: space-between !important;
}

.list-item-menu:hover {
  cursor: pointer;
}

.list-item-menu:hover .list-icons {
  transform: scale(1.2);
}

.list-item {
  height: 55px;
  justify-content: space-between !important;
  border-bottom: 1px solid #888;
  color: #fff;
}

.list-item:hover {
  cursor: pointer;
  background-color: #3e4148;
}

.list-item:hover .list-icons {
  transform: scale(1.2);
}

.list-icons {
  justify-content: flex-end;
  transition: transform 0.2s;
}

.grid-item-gamecard {
  max-height: 100%;
  overflow-y: scroll;
}

.game-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.3rem;
  margin-top: 20px;
}

.game-card {
  width: 200px;
  height: 250px;
  background: #282c34;
  margin: 10px 10px;
  border-radius: 5px;
  border: 3px solid black;
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.05);
  /* transform-origin: 50% 300%; */
  border-color: #005d9c;
  /* border-style: double; */
  cursor: pointer;
}

.btn-game-card {
  background-color: #282c34 !important;
  color: #fff !important;
  font-weight: bold !important;
  border: 2px solid #0c5e94 !important;
}

.btn-game-card:hover {
  background: #0c5e94 !important;
  /* color: #fff !important; */
  /* top: 100px; */
}

.game-image {
  /* border-radius: calc(5px - 1px); */
  height: 100%;
  width: 100%;
  position: relative;
}

.flappy-bird {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.game-image:hover .flappy-bird {
  opacity: 0.3;
}

.game-image:hover .middle {
  opacity: 10;
}

.text {
  background-color: #0c5e94;
  border: 1px solid #282c34;
  color: white;
  font-size: smaller;
  border-radius: 10px;
  width: 60%;
  height: 30px;
  margin: auto;
  padding-top: 10px;
}

.middle {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
