body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.new-login {
  background-image: url(assets/bg-image.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.block-border {
  border-radius: 10px;
  margin: auto;
  padding: 90px 50px !important ;
  background: rgba(50, 50, 50, 0.21);
  box-shadow: 8px 8px 8px;
}

.form-block {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.new-form-field {
  background: rgba(250, 250, 250, 0.7);
  border: none;
  backdrop-filter: blur(5px);
  border-radius: 3px;
  font-family: 'Calibri';
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  width: 350px;
  margin-bottom: 20px !important;
}

.welcome-text {
  color: black;
  margin-top: -20px;
}

.welcome {
  color: black;
}

.welcome:hover {
  color: #0c5e94 !important;
  text-decoration-style: wavy;
}

.new-form-field input {
  padding: 12px 12px !important;
  font-family: 'Calibri';
  font-style: normal;
  font-size: 13px;
  line-height: 23px;
  color: black;
}

.input-label {
  color: black !important;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 600;
  font-size: 15px !important;
  line-height: 28px;
  margin-bottom: 10px !important;
  text-align: left;
}

.btn-block button {
  background: #000000;
  border-radius: 3px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  gap: 8px;
  color: #ffffff;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 5px;
  margin: auto;
}

.btn-block button:hover {
  background: #0c5e94 !important;
}

.signup {
  font-family: 'Ambit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-top: 15px;
  /* text-align: left; */
}

.signup:hover {
  text-decoration: underline;
  cursor: pointer;
}

.err-msg {
  margin-top: -15px;
  color: #ff0000;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
}
